:root {
	--gray-0: #100e1d;
	--gray-1: #333333;
	--gray-2: #4f4f4f;
	--gray-3: #828282;
	--gray-4: #bdbdbd;
	--gray-5: #e0e0e0;
	--gray-6: #f2f2f2;
	--gray-7: #ffffff;

	--blue: #2d9cdb;
	--green: #27ae60;
	--red: #eb5757;
}

/* 
font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
 */

body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

img {
	display: block;
	max-width: 100vw;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0.75rem;
}

h1 {
	font-family: "Heebo", sans-serif;
	font-weight: 800;
	font-size: clamp(1.5rem, 6vw, 2.25rem);
	margin: 0;
}

button.hamburger {
	display: block;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
